        ::-webkit-file-upload-button {
          background-color: dodgerblue;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }

        .uploadbutton {
          background-color: dodgerblue;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
        }

        .uploadbutton:disabled,
        .uploadbutton[disabled] {
          border: 1px solid #999999;
          background-color: #cccccc;
          color: #666666;
          cursor: default;
        }

        #parent {
          display: table;
          width: 100%;
        }

        #uploadForm{
          display: table-cell;
          text-align: center;
          vertical-align: middle;
        }

        .inner {
          width: 100%;
          text-align: center;
        }

        img {
          display: inline-block;
        }

        input {
          width: 50%;
          border: 1px solid dodgerblue;
        }

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.info {
  padding: 20px;
  background-color: #7ec0ee;
  color: white;
}

.closebtn {
  margin-left: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}